html, body {
    font-size: 16px;
}

.botao-roxo {
    color: white;
    font-weight: 400;
    font-size: 1.25rem;
    background-color: hsl(245, 75%, 52%);
    border-radius: 15px;
    padding: 1rem 0.1rem;
    width: 84%;
    text-align: center;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2);
}

.botao-roxo:hover {
    background-color: hsla(245, 75%, 52%, 0.7);
}

a {
    text-decoration: none;
}

body {
    background-size: cover;
    background-image: url(images/pattern-background-mobile.svg);
}

.div-geral{
    font-family: 'Red Hat Display', Arial, sans-serif, Helvetica;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(225, 100%, 94%);
    height: 100%;
}

#card-unico {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80%;
    margin: 6.25rem 0;
    border-radius: 20px;
    text-align: center;
    background-color: white;
    padding-bottom: 1.875rem
}

.imagem-card {
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 34%;
}

.card-conteudo {
    padding: 0 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-principal {
    margin-top: 2.5rem;
    font-size: 1.8rem;
}

.sobre-o-plano {
    font-size: 1.25rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
}

.planos-container {
    background-color: hsl(225, 100%, 98%);
    border-radius: 10px;
    margin: 2.5rem 0 1.875rem 0;
    width: 84%;
    height: 5rem;
    padding-right: 12%;
    padding-left: 12%;
    box-sizing: border-box;
    font-size: 0.8rem;
}

.planos-container img {
    float: left;
    display: block;
    margin: 1.25rem 2rem 1.5rem -1.6rem;
}

.planos-container h3 {
    transform: translate(-20%, 50%);
}

.planos-container .trocar {
    transform: translate(90%, -230%);
    display: inline-block;
    border-bottom: 1px solid hsl(245, 75%, 52%);
    line-height: 0.80;
}

.plano-escolhido {
    font-weight: 500;
}

.pintar-cinza {
    color: hsl(224, 23%, 55%);
}

.planos-container .trocar:hover {
    border: hidden;
    line-height: 0.85;
}

.card-conteudo .botao-roxo {
    border-radius: 15px;
}

.cancelar, .botao-roxo {
    text-align: center;
    display: block;
}

.cancelar {
    margin-top: 1.25rem;
    color: hsl(224, 23%, 55%);
    font-weight: 900;
    font-size: 1.1rem;
}

.cancelar:hover {
    color: black;
}

@media (min-width: 50rem) {

    body {
        background-image: url(images/pattern-background-desktop.svg);
        background-size: cover;
        background-position: right;
    }

    #card-unico {
        width: 26rem;
    }

    .planos-container {
        background-color: hsl(225, 100%, 98%);
        border-radius: 10px;
        margin: 2.5rem 0 1.875 0;
        width: 22rem;
    }

    .planos-container img {
        float: left;
        margin: 1.5rem 30% 1.5rem -8%;
    }

    .planos-container h3 {
        transform: translate(-25%, 18%);
    }

    .planos-container .trocar {
        transform: translate(90%, -300%);
        display: inline-block;
        border-bottom: 1px solid hsl(245, 75%, 52%);
        line-height: 0.80;
    }
}

/*suporte para galaxy fold*/

@media (max-width: 17.5rem) {

    .planos-container {
        background-color: hsl(225, 100%, 98%);
        border-radius: 10px;
        margin: 2.5rem 0 1.875 0;
        width: 12rem;
        
    }

    .planos-container img {
        float: left;
    }

}
